#section {
	border-bottom: 1px solid var(--black);
	padding: 1.6rem 4rem;
	margin: 0;
}

#section-filter {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-wrap: wrap;
	row-gap: 1rem;
	column-gap: 2rem;
}

#filter-wrapper {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
	column-gap: 2rem;
}
