.footer {
	border-top: 1px solid var(--black);
}
.footer-wrapper {
	padding: 1rem 0;
}
.main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.main_logo {
	text-align: center;
}
.copyright {
	text-align: center;
}
