@import "tailwindcss";

body {
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
}
#root {
  height: 100vh;
  overflow: hidden;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hr{
  margin: 5px 0px;
}
*{
  box-sizing: border-box;
}