.proifile__text_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.proifile__text-info {
	font-size: 1.6rem;
	padding: 0.8rem 1.6rem;
	width: 50%;
	border-bottom: 1px solid var(--gray);
}
