/* Checkout.css */

#checkout__btn_container {
	display: flex;
	justify-content: space-between;
}

#checkout__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 56rem;
}

.checkout__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkout__inputs {
	width: 50vw;
}

.checkout__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3.2rem;
}
