#input-element {
	position: relative;
}

#input-element__img {
	position: absolute;
	left: 10px; /* Відступ зліва */
	top: 50%;
	transform: translateY(-50%);
	width: 2.4rem;
	height: 2.4rem;
	pointer-events: none;
}

.input-element__input {
	height: 4rem;
	min-width: 25.6rem;
	width: 100%;

	font-style: "Montserrat", sans-serif;
	font-size: 1.6rem;
	color: var(--black--text);

	padding: 0.8rem 1.6rem;
}

.input-element__input-simple {
	border-radius: 15px;
	border: 1px solid var(--black);
}

.input-element__input-image {
	border-radius: 20px;
	border: 1px solid var(--black);

	padding: 0 4.2rem;
}
