.card {
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: all 0.3s;
}
.card_simple {
	padding: 2.4rem 1.6rem;
}

.card_full {
	border: 1px solid var(--black);
	overflow: hidden;
}

.card_simple .card_img {
	height: auto;
	width: 100%;
}
.card_full .card_img {
	height: auto;
	width: 100%;
}
.card_full .paragraph {
	text-align: justify;

	display: -webkit-box; /* Встановлює "гнучкий блок" для підтримки обрізання */
	-webkit-line-clamp: 3; /* Кількість рядків, які мають бути видимими */
	-webkit-box-orient: vertical; /* Вертикальна орієнтація */
	overflow: hidden;
	text-overflow: ellipsis;
}

.card__value {
	display: flex;
	justify-content: space-between;
}

.card__value__price,
.card__value__percent {
	font-size: 2rem;
	font-weight: 300;
}

.card__value__price::before {
	font-weight: 400;
	content: "$";
	color: var(--black);
}

.card__value__percent::before {
	font-weight: 400;
	content: "%";
	color: var(--black);
}

.card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	transform: translateY(-5%);
}

#card__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.6rem;
	background-color: var(--light-gray);
}

#card__top__id {
	font-size: 1.6rem;
	color: var(--black--text);
}

#card__top__id::before {
	font-weight: 500;
	content: "ID: ";
	color: var(--black);
}

#card__wrapper {
	padding: 1.6rem 1.6rem 2.4rem 1.6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__favorite {
	all: unset;
}

.card__button_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.6rem;
}

.card__btn-close {
	all: unset;
	position: absolute;
	top: 1.2rem;
	right: 1.2rem;

	height: 2.4rem;
	width: 2.4rem;

	font-size: 1.6rem;
	font-weight: 500;
	color: var(--light-gray);
	line-height: 1.6rem;
	text-align: center;

	border-radius: 30px;
	background-color: var(--blacky);

	transition: all 0.3s;
}

.card__btn-close:hover,
.card__btn-close:active {
	background-color: var(--blacky);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}
