.header {
	padding: 1.6rem;
	border: 1px solid var(--black);
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4rem;
}

.links {
	display: flex;
	gap: 1.6rem;
	align-items: center;
	justify-content: center;

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.links_item {
	list-style: none;
}

.links_item_button {
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 400;
	color: var(--black);

	width: 12rem;
	line-height: 3.2rem;
	text-align: center;
	text-decoration: none;

	border-radius: 20px;

	transition: all 0.15s;
}

.links_item_button:hover,
.links_item_button:active {
	background-color: var(--light-gray);
	cursor: pointer;
}

.active {
	background-color: var(--light-gray);
}

.cart-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 2.4rem;
	width: 2.4rem;
	font-weight: 500;
	color: var(--breeze);
	border-radius: 50%;
	margin-left: 0.8rem;

	position: absolute;
	right: 0.4rem;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.2s;
}

.cart-item_active {
	color: var(--black--text);
	background: var(--gray);
}

.header__profile_link {
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--black);
	width: 12rem;
	line-height: 3.2rem;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.15s;
}

.header__profile_link:hover,
.header__profile_link:active {
	background-color: var(--light-gray);
}
