.bar-product-info {
	display: flex;
	gap: 6.4rem;
}

.bar-product-info_image img {
	display: inline-block;
	max-width: 25vw;
}

.bar-product-info_description__full {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
